.folder-names-container {
    max-height: 300px;
}

.download-list-container {
    max-height: 400px;
}

.scroll-table-container {
    overflow: auto;
}

.scroll-table-container thead tr:nth-child(1) th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.vscroll {
    overflow-y: auto;
}

.min-width-150 {
    min-width: 150px;
}

li.active > button > i {
    color: white;
}

#fake-list {
	position: relative;
  z-index: 0;
  margin-top: 50px;
}

#fake-table {
	display: table;
  table-layout: fixed;
}

#fake-table > thead {
	position: fixed;
  top: 0px;
	width: 100%;
  height: 50px;
	table-layout: fixed;
  display: table;
}

#fake-table > thead > th {
	
}

#fake-table > thead > tr {
	  table-layout: fixed;
  display: table;
}

#fake-table > tbody {
	
}